<div *ngIf="pokemon">

  <img src="{{pokemon.image}}" title={{pokemon.name}} height="200" width="200" style="border-radius: 20%; background-color: #888888" >
  <h2>{{ pokemon.name | uppercase }} Details</h2>
  <div>
    <label>name:
      <input [(ngModel)]="pokemon.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>description:
      <input [(ngModel)]="pokemon.description" placeholder="description"/>
    </label>
  </div>
  <div>
    <label>image:
      <input [(ngModel)]="pokemon.image" placeholder="image"/>
    </label>
  </div>
  <div>
    <label>favourite:
      <!--<input [(ngModel)]="pokemon.favourite" placeholder="favourite"/>-->
      <input type="checkbox" name="favourite" [(ngModel)]="pokemon.favourite" >
    </label>
  </div>
  <div>
    <label>TYPES:
       <ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="optionsModel"></ss-multiselect-dropdown>
    </label>
  </div>

  <div>
    <label>Evolution:
      <select [(ngModel)]="pokemon.evolution">
        <option *ngFor="let pok of listPokemons" [ngValue]="pok.name">
          {{pok.name}}
        </option>
      </select>
    </label>
  </div>

  <div *ngIf="alert">
    <alert [type]="alert.type" >{{ alert.msg }}</alert>
  </div>



</div>
<div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
  <!--<button *ngIf="pokemon.id" (click)="delete()">delete</button>-->
</div>



