<div *ngIf="pokemon">


  <h2 style="margin-left: 5%; margin-top: 20px;">Details of {{ pokemon.name | titlecase }} </h2>
  <div *ngIf="alert">
    <alert [type]="alert.type" >{{ alert.msg }}</alert>
  </div>
  <div class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Name: </label>
            <input [(ngModel)]="pokemon.name" placeholder="name" class="form-control"/>

          </div>
          <div class="form-group">
            <label>Description:</label>
            <input [(ngModel)]="pokemon.description" placeholder="description" id="exampleInputUsername" class="form-control"/>
          </div>
          <div class="form-group">
            <label>Url Image:</label>
            <input [(ngModel)]="pokemon.image" placeholder="image" class="form-control"/>
          </div>
          <div class="form-group">
            <label>Evolution:</label>
            <select [(ngModel)]="pokemon.evolution" class="form-control selcls" >
              <option selected [ngValue]=""></option>
              <option *ngFor="let pok of listPokemons" [ngValue]="pok.name">
                {{pok.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Types:</label>
            <ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="optionsModel" style="width: 100%" ></ss-multiselect-dropdown>
          </div>
          <div class="form-group">
            <label>Favourite: </label>
            <div>
              <input type="checkbox" name="favourite" [(ngModel)]="pokemon.favourite"  >
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="{{pokemon.image}}" title={{pokemon.name}} height="200" width="200"
               class="background-image {{(pokemon.favourite)? 'boder-image' : ''}}"  >
        </div>
      </div>

      </div>
  </div>




</div>
<div align="center">
  <button (click)="goBack()" class="btn btn-info">Go Back</button>
  <button (click)="save()" class="btn btn-success">Save Pokemon</button>
  <button *ngIf="pokemon.id" (click)="delete()" class="btn btn-danger">Delete Pokemon</button>
</div>



