  <h4 style="color: black;">Pokemon Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <label style="color: black"> Favoritos
    <input type="checkbox" name="favourite" [(ngModel)]="favourite" (change)="search(searchBox.value)">
  </label>
  <br><br><br>
  <div class="grid grid-pad">
    <a *ngFor="let pokemon of pokemons" class="col-1-4">
      <a routerLink="/detail/{{pokemon.id}}">
        <img src="{{pokemon.image}}" title={{pokemon.name}} height="200" width="200" style="border-radius: 20%; background-color: #888888" >
      </a>
    </a>
  </div>

