  <h4 style="color: black;">Pokemon Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <label style="color: black"> Favoritos
    <input type="checkbox" name="favourite" [(ngModel)]="favourite" (change)="search(searchBox.value)">
  </label>
  <a routerLink="/detail">
    <img src="http://www.iconarchive.com/download/i80210/custom-icon-design/flatastic-1/add.ico" height="20" width="20" style="border-radius: 20%; background-color: #888888" >
  </a>

  <br><br><br>
  <div class="grid grid-pad">
<div class="row">
  <div *ngFor="let pokemon of pokemons" class="col-md-auto" style="margin-top: 15px;">
    <a routerLink="/detail/{{pokemon.id}}">
      <img src="{{pokemon.image}}" title={{pokemon.name}} height="200" width="200"
           class="background-image {{(pokemon.favourite)? 'boder-image' : ''}}"  >
    </a>
  </div>
</div>
  </div>

